body, head {
    /* background:url(../images/black.jpg)no-repeat center center fixed; */
    text-align: center;
    font-family: 'Righteous', cursive;
    max-width: 1200px;
    margin: auto;
}
#name, #address, #phone, #price{
    margin: 5px 5px
}

p{
    margin-bottom: 80px;
}

h1{
    font-size: 60px;
    margin:80px 0px 10px 0px;
}

h3{
    margin-bottom: 20px;
}

img {
    max-width: 200px;
    max-height: 200px;
    margin: 10px 10px;
}

.input-group {
    margin: 30px;
}
li{
    display: inline;
}
img {
    display: inline-block;
    position: relative;
    padding: 5px 5px;
    top: 0;
    font-size: 30px;
    font-family: "Open Sans", Helvetica;
    border-radius: 4px;
    border-bottom: 1px solid rgba(227, 35, 28, 0.5);
    background: rgb(230, 22, 22);
    color: #fff;
    box-shadow: 0px 0px 0px rgba( 15, 165, 60, 0.1 );
    
    -webkit-transform: translateZ(0);
       -moz-transform: translateZ(0);
        -ms-transform: translateZ(0);
            transform: translateZ(0);
    
    -webkit-transition: all 0.2s ease;
       -moz-transition: all 0.2s ease;
        -ms-transition: all 0.2s ease;
            transition: all 0.2s ease;
  }
  
  img:hover {
    top: -10px;
    box-shadow: 0px 10px 10px rgba( 15, 165, 60, 0.2 );
    
    -webkit-transform: rotateX(20deg);
       -moz-transform: rotateX(20deg);
        -ms-transform: rotateX(20deg);
            transform: rotateX(20deg);
  }
  
  img:active {
    top: 0px;
    box-shadow: 0px 0px 0px rgba(165, 63, 15, 0);
    background: rgb(224, 186, 20);
  }
body{
    background-color: beige;
}

input:focus, textarea:focus {
    background: #000;
    border-radius: 5px;
    outline      : none;
    color: red;
    font-size: 19px;
  }

  button {
    font         : bold .6em sans-serif;
    border       : 2px solid #333;
    border-radius: 5px;
    background   : none;
    cursor       : pointer;
  
  }
  .loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    margin: auto;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  button:hover,
  button:focus {
    outline   : none;
    background: #000;
    color   : #FFF;
  }
  @media only screen and (max-width: 768px) {

    p {
      margin: 5px 5px;
      color: rgb(128, 128, 128);
    } 
  
}